

.button {
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 7px;
  font-weight: bold;
  line-height: 1;
  padding: 4px 15px;
  text-shadow: 1px 1px 1px #076bd2;
  letter-spacing: normal;
}
.center {
  text-align: center;
}
.info {
  font-size: 14px;
  text-align: center;
  color: #777;
  display: none;
}
.right {
  float: right;
}
.sidebyside {
  display: inline-block;
  width: 45%;
  min-height: 40px;
  text-align: left;
  vertical-align: top;
}
#info {
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden;
  width: 80%;
}

#results {
  border: 1px solid #ddd;
  min-height: 400px;
  margin:auto;
  overflow: auto;
}


#start_button {
  border-radius: 12px;
  border: 0px;
  padding: 0 8.5%;
  margin: 2% 0 0;
  background-color: #b30808;
}

#question_view{
  font-size:20px;
  border-radius:10px;
  background:powderblue;
  color:#444;float:left;
  min-width:10%;
  max-width:70%;
  padding:10px;
  position:relative;
  margin-bottom:3%;
  float: left;
  text-align:left;
}
#result_view{
  font-size:15px;
  border-radius:10px;
  float:right;
  text-align:left;
  max-width:80%;
  position:relative;
  background:steelblue;
  padding:2%;
  color:#333;
  margin-bottom: 3%;
}
#answer_deep{
  color:#eee;
  margin-top:5%;
  display:none;
}
#br{
  display:inline-block;
  clear:both;
  width:100%;
}
#start_txt{
  font-size:1.2em;
  color:white;
}
