* {
  font-family: malgungothic, Verdana, Arial, sans-serif;
}
a:link {
  color:#000;
  text-decoration: none;
}
a:visited {
  color:#000;
}
a:hover {
  color:#33F;
}
p {
  font-size: 14pt;
}
.button {
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #076bd2;
  letter-spacing: normal;
}
.center {
  padding: 10px;
  text-align: center;
}
.info {
  font-size: 14px;
  text-align: center;
  color: #777;
  display: none;
}
.right {
  float: right;
}
.sidebyside {
  display: inline-block;
  width: 45%;
  min-height: 40px;
  text-align: left;
  vertical-align: top;
}
#info {
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden;
}
#results {
  border: 1px solid #ddd;
  padding: 15px;
  min-height: 600px;
  width: 97%;
  margin:auto;
  overflow: auto;
}
#start_button {
  border-radius:120px;
  border:0px;
  background-color:navy;
  width:50%;
}
#question_view{
  font-size:40px;
  border-radius:10px;
  background:powderblue;
  color:#444;float:left;
  min-width:10%;
  max-width:70%;
  padding:10px;
  position:relative;
  margin-bottom:3%;
  float: left;
  text-align:left;
}
#result_view{
  font-size:35px;
  border-radius:10px;
  float:right;
  text-align:left;
  max-width:80%;
  position:relative;
  background:steelblue;
  padding:2%;
  color:#333;
  margin-bottom: 3%;
}
#answer_deep{
  color:#eee;
  margin-top:5%;
  display:none;
}
#br{
  display:inline-block;
  clear:both;
  width:100%;
}
#start_txt{
  font-size:5em;
  color:white;
}
